// out: false

.ateliers-container {

    height: 400px;
    position: relative;
    z-index: 5;
    margin-bottom: 190px;

    div {
        display: flex;
    }

    .atelier {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 5;

        .atelier-infos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            h2 {
                font-weight: @title-weight;
            }
        }

        &:nth-child(odd) { 
            flex-direction: column-reverse;

            .atelier-image {

                .clip-path-haut();
                img {
                    .clip-path-haut();
                    position: relative;   
                }

                &::after {
                    .degrade-jaune-bleu();
                }
            }
        }

        &:nth-child(even) {

            .atelier-image {

                .clip-path-bas();

                img {
                    .clip-path-bas();
                }

                &::after {
                    .degrade-violet-rose();
                }
            }
        }
            
        .atelier-image {

            position: relative;
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
                text-align: center;
            }
            
            &::after {
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }

        .primary-button {
            margin: 0 auto;
        }
    }

    &::before {
        content: '';
        background-color: @grey;
        transform: skewY(356deg);
        width: 100%;
        height: 560px;
        position: absolute;
        top: -80px;
        left: 0;
    }

}