// out: false
.sliders-background-default {
    background-color: @grey;
    position: absolute;
    width: 100%;
    height: 465px;
    top: -75px;
    z-index: 2;
    .skew();
}

.sliders-background {
    position: absolute;
    width: 100%;
    height: 465px;
    top: -75px;
    z-index: 2;
    .skew();
}

.sliders-background.degrade-1 {
    background: linear-gradient(17deg, rgba(255, 186, 0, 1) 0%, rgba(83, 253, 220, 1) 50%);
}

.sliders-background.degrade-2 {
    background: linear-gradient(17deg, rgba(252, 188, 68, 1) 0%, rgba(195, 114, 255, 1) 50%);
}

.sliders-background.degrade-3 {
    background: linear-gradient(17deg, rgba(255, 105, 113, 1) 0%, rgba(252, 188, 68, 1) 50%);
}

.sliders {
    z-index: 6;
    position: relative;
    top: 194px;
    padding: 0;
    margin-bottom: -66px;
    list-style-type: none;
    white-space: nowrap;

    
    li {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
}

    .slider-elements-container {
        div {
            margin-top: -616px;
            margin-bottom: 350px;
            position: relative;
            left: 0;

            h2 {
                span {
                    font-weight: 300;
                }
            }
        }
    }


.slider {
    position: relative;
    z-index: 5;
    display: inline-block;
    vertical-align: top;


    .slider-elements-container {
        display: flex;
        width: 100%;
        justify-content: space-around;

        div {
            display: flex;
            flex-direction: column;
            gap: 60px;
            margin-top: -95px;
            padding-left: 171px;

            h2 {
                font-size: @main-title-size;
                transform: skewY(356deg);
                letter-spacing: -2px;
                line-height: 100px;
                font-weight: @title-weight;
                text-transform: uppercase;

                span {
                    display: block;
                    font-weight: initial;
                    font-weight: 500;
                }
            }
        }

        figure {
            position: relative;
            top: -95px;
            overflow: hidden;
            height: 324px;

            img {
                width: 380px;
            }
        }
    }
}


.slider-buttons {

    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 75px;
    font-size: 25px;

    .slider-button {
        z-index: 6;
        position: relative;
        background-color: inherit;
    }
}