// out: false

.sliders {

    padding: 0;
    z-index: 6;
    position: relative;

    .slider-instruments {
        &::before {
            height: 658px !important;
        }

        figure {
            position: relative !important;
            top: -133px !important;
            overflow: hidden !important;
            height: 525px !important;

            img {
                width: 100% !important;
                height: 470px;
            }
        }
    }

    .slider-image {
        height: 550px;
        &::before {
            height: 264px !important;
        }

        .image-slider {

            .clip-path-haut();
            position: relative;
            top: -62px;
            z-index: -2;

            img {
                width: 100%;
                object-fit: cover;
                height: 500px;
                .clip-path-haut();
            }

            &::after {
                content: '';
                .degrade-jaune-bleu();
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
            }
        }

        .slider-elements-container {

            div {
                margin-top: -616px !important;
                margin-bottom: 350px;
                position: relative !important;
                left: 0 !important;
                h2 {
                    span {
                        font-weight: 300 !important;
                    }
                }
            }
        }
    }
    

    .slider {
        position: relative;
        z-index: 5;

        .subtitles {
            background-color: green;
        }
        
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 450px;
            .degrade-slider-3();
            top: -260px;
            z-index: -1;
            .skew();
            
        }

        .slider-elements-container {

            display: flex;
            width: 100%;
            justify-content: space-around;

            div {
                display: flex;
                flex-direction: column;
                gap: 60px;
                margin-top: -95px;
                padding-left: 171px;

                h2 {
                    font-size: @main-title-size;
                    transform: skewY(356deg);
                    letter-spacing: -2px;
                    line-height: 100px;
                    font-weight: @title-weight;
                    span {
                        display: block;
                        font-weight: initial;
                        font-weight: 500;
                    }
                }
            }

        figure {

            position: relative;
            top: -95px;
            overflow: hidden;
            height: 324px;
            
            img {
                width: 380px;
            }
        }
    }
}
}

