// out: false

@media screen and (max-width: 768px) {
    
    
    
    body {
        // background-color: green;
    }  
    
    main {
        padding: auto 5vw;
    }

    .ateliers-container {
        height: 1680px;

        &::before { height: 1880px; }

        .row {
            gap: 65px;
            .atelier {   
                &:nth-child(even) { 
                    flex-direction: column-reverse;
                }
                
                .atelier-img {
                    
                    img {
                        height: 250px;
                    }
                }
            }
        }
    }

    .instruments-container {
        .instrument {
            figure {
                img {
                    width: 100%;
                    max-width: none;
                }
            }

            .intrument-infos {
                .primary-button {
                    padding: 10px 15px;
                }
            }
        }
    }



    .actualites-container {

        &::before {
            height: 200%;
        }

        padding: 0;
        margin: 150px 0 800px 0;
        .actualites-grid {
            grid-template-columns: repeat(2, 43vw);
            // grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            height: 800px;

            .actualite {
                max-width: 100%;
                img {
                    // height: auto !important;
                }

                .actualite-infos {
                    
                    width: 100%;
                    
                    .actualite-date {
                        font-size: 1.5rem;
                        font-weight: 500;
                    }

                    p {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }
                }
            }

            // .actualite_4 { img { height: auto; }}

            .actualite_4 + h2 { grid-area: 1 / 1 / 2 / 3; }
            .actualite_4      { grid-area: 2 / 1 / 3 / 3; }
            .actualite_1      { grid-area: 3 / 1 / 4 / 3; }
            .actualite_2      { grid-area: 4 / 1 / 6 / 2; }
            .actualite_3      { grid-area: 4 / 2 / 6 / 3; }

            h2 {
                span {
                    font-size: 3rem !important;
                }
            }
        }

    }





}