@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs169vgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZogUE.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  box-shadow: none;
  color: #651F59;
  border: none;
  font-family: 'Oswald', 'Sans-serif';
}
html,
body {
  background-color: #FFFFFF;
}
.primary-button,
.secondary-button {
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  max-width: fit-content;
}
.primary-button {
  background-color: #651F59;
  color: #FFFFFF;
}
.primary-button:hover {
  color: blue;
}
.secondary-button {
  background-color: #FFFFFF;
  color: #FCBC44;
}
.secondary-button:hover {
  color: green;
}
input:not([type=submit]) {
  border: 3px solid #FFFFFF;
  background-color: transparent;
  height: 50px;
  padding: 15px;
}
input:not([type=submit])::placeholder {
  color: #FFFFFF;
}
.atelier-container {
  background-color: yellow;
  text-align: center;
}
.atelier-container .primary-button {
  margin: 0 auto;
}
.instruments-container .instrument-container:nth-child(1) {
  background-color: #FF9E6E;
}
.instruments-container .instrument-container:nth-child(2) {
  background-color: #E2B4FF;
}
.instruments-container .instrument-container:nth-child(3) {
  background-color: #FFA800;
}
.instruments-container .instrument-container:nth-child(4) {
  background-color: #F696BC;
}
.instruments-container .instrument-container:nth-child(5) {
  background-color: #89E8FF;
}
.instruments-container .instrument-container:nth-child(6) {
  background-color: #96FDEF;
}
.instruments-container .instrument-container {
  background-color: aqua;
  text-align: center;
}
.instruments-container .instrument-container h2 {
  text-transform: uppercase;
}
.instruments-container .instrument-container img {
  width: 14vw;
  height: auto;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 390px;
  z-index: 5;
  position: relative;
}
.contact-form::before {
  content: '';
  background-color: #FF6971;
  transform: skewY(356deg);
  width: 100%;
  height: 390px;
  position: absolute;
  top: 0;
  z-index: -1;
}
.contact-form h2 {
  color: #FFFFFF;
}
.contact-form form p {
  display: flex;
  gap: 8px;
}
.contact-form form p input[type="submit"] {
  height: 50px;
}
.contact-form form label {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-form form label input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 5px;
  height: 5px;
  border: 3px solid white;
}
.contact-form form label span {
  color: #FFFFFF;
  max-width: 600px;
}
