@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs13FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs169vgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvgUE.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  box-shadow: none;
  color: #651F59;
  border: none;
  font-family: 'Oswald', 'Sans-serif';
}
html,
body {
  background-color: #FFFFFF;
}
h2 {
  text-transform: uppercase;
}
.primary-button,
.secondary-button {
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  max-width: fit-content;
}
.primary-button {
  background-color: #651F59;
  color: #FFFFFF;
  transition: 0.3s;
}
.primary-button:hover {
  color: #D9BFFF;
}
.secondary-button {
  background-color: #FFFFFF;
  color: #FCBC44;
  border: 2px solid #FCBC44;
  transition: 0.3s;
}
.secondary-button:hover {
  color: #CB5C2F;
  border-color: #CB5C2F;
}
input[type=text],
input[type="email"] {
  border: 3px solid #FFFFFF;
  background-color: transparent;
  height: 50px;
  padding: 15px;
}
input[type=text]::placeholder,
input[type="email"]::placeholder {
  color: #FFFFFF;
}
.encadre-menu {
  background-color: transparent;
  border: 5px solid #B28FAC;
  transform: skewY(356deg);
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 30px;
  display: inline-block;
}
.encadre-menu-variation {
  background-color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 35px;
  display: inline-block;
}
.encadre-menu-variation a {
  color: #651F59;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 5px;
  height: 5px;
  border: 3px solid #FFFFFF;
}
.checkbox:not(:checked) + span::after,
[type="checkbox"]:checked + span::after {
  content: '✕';
  position: absolute;
  left: 573px;
  bottom: 141px;
  font-size: 1.6em;
  color: #FFFFFF;
  line-height: 0;
  transition: all 0.2s;
}
.checkbox:not(:checked) + span::after {
  opacity: 0;
  transform: scale(0) rotate(45deg);
}
.checkbox:checked + span::after {
  opacity: 1;
  transform: scale(1) rotate(0);
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 5px;
  height: 5px;
  border: 3px solid #FFFFFF;
}
.checkbox:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
  content: '✕';
  position: absolute;
  top: 1em;
  left: 0.18em;
  font-size: 1.6em;
  color: #CB22ED;
  line-height: 0;
  transition: all 0.2s;
}
.ateliers-container {
  height: 400px;
  position: relative;
  z-index: 5;
  margin-bottom: 100px;
}
.ateliers-container .atelier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  gap: 15px;
}
.ateliers-container .atelier .atelier-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ateliers-container .atelier .atelier-infos h2 {
  font-weight: 300;
}
.ateliers-container .atelier:nth-child(odd) {
  flex-direction: column-reverse;
}
.ateliers-container .atelier:nth-child(odd) .atelier-image {
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
}
.ateliers-container .atelier:nth-child(odd) .atelier-image img {
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
  position: relative;
}
.ateliers-container .atelier:nth-child(odd) .atelier-image::after {
  background: linear-gradient(17deg, rgba(252, 188, 68, 0.5) 0%, rgba(137, 232, 255, 0.5) 100%);
}
.ateliers-container .atelier:nth-child(even) .atelier-image {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}
.ateliers-container .atelier:nth-child(even) .atelier-image img {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}
.ateliers-container .atelier:nth-child(even) .atelier-image::after {
  background: linear-gradient(17deg, rgba(255, 105, 113, 0.5) 0%, rgba(195, 114, 255, 0.5) 100%);
}
.ateliers-container .atelier .atelier-image {
  position: relative;
  width: 100%;
}
.ateliers-container .atelier .atelier-image img {
  width: 100%;
  object-fit: cover;
  text-align: center;
}
.ateliers-container .atelier .atelier-image::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.ateliers-container .atelier .primary-button {
  margin: 0 auto;
}
.ateliers-container::before {
  content: '';
  background-color: #F0EDF5;
  transform: skewY(356deg);
  width: 100%;
  height: 600px;
  position: absolute;
  top: -170px;
  left: 0;
}
.instruments-container h2,
.instruments-container p {
  text-align: center;
  font-weight: 300;
}
.instruments-container .instrument {
  text-align: left;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
.instruments-container .instrument .intrument-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 45px;
}
.instruments-container .instrument .intrument-infos span {
  display: block;
  font-weight: bold;
}
.instruments-container .instrument h2 {
  padding-top: 15px;
  text-align: left;
}
.instruments-container .instrument p {
  text-align: left;
  text-transform: uppercase;
  height: 50px;
}
.instruments-container .instrument img {
  max-width: 9vw;
  max-height: 220px;
  height: auto;
  object-fit: contain;
}
.instruments-container .instrument::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 75%;
  height: 150px;
  background-color: green;
  z-index: -1;
  margin-top: 45px;
}
.instruments-container .instrument::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 150px;
  background-color: aqua;
  transform: skewY(356deg);
  top: 95px;
  right: 0;
  z-index: -1;
}
.instruments-container .instrument_4 img,
.instruments-container .instrument_6 img {
  position: relative;
  top: 60px;
}
.instruments-container .instrument_1::before,
.instruments-container .instrument_1::after {
  background-color: #FF9E6E;
}
.instruments-container .instrument_2::before,
.instruments-container .instrument_2::after {
  background-color: #E2B4FF;
}
.instruments-container .instrument_3::before,
.instruments-container .instrument_3::after {
  background-color: #FFA800;
}
.instruments-container .instrument_4::before,
.instruments-container .instrument_4::after {
  background-color: #F696BC;
}
.instruments-container .instrument_5::before,
.instruments-container .instrument_5::after {
  background-color: #89E8FF;
}
.instruments-container .instrument_6::before,
.instruments-container .instrument_6::after {
  background-color: #96FDEF;
}
.actualites-container {
  background-color: #651F59;
  position: relative;
  z-index: 5;
  padding: 0 250px;
  margin: 150px 0 100px 0;
}
.actualites-container::before {
  content: '';
  background-color: inherit;
  transform: skewY(356deg);
  width: 100%;
  height: 125%;
  position: absolute;
  top: -66px;
  left: 0;
  z-index: -1;
}
.actualites-container .actualites-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: 800px;
}
.actualites-container .actualites-grid .actualite {
  display: flex;
}
.actualites-container .actualites-grid .actualite .actualite-infos {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.actualites-container .actualites-grid .actualite .actualite-infos .actualite-date {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}
.actualites-container .actualites-grid .actualite .actualite-infos h2 {
  font-size: 25px;
  font-weight: 600;
}
.actualites-container .actualites-grid .actualite .actualite-infos p:not(:first-of-type) {
  overflow: hidden;
}
.actualites-container .actualites-grid .actualite .actualite-img {
  overflow: hidden;
}
.actualites-container .actualites-grid .actualite .actualite-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.actualites-container .actualites-grid .actualite figure {
  margin-bottom: 0;
  width: 100%;
}
.actualites-container .actualites-grid .actualite_1 {
  flex-direction: row-reverse;
  border: 3px solid #FFFFFF;
  grid-area: 1 / 1 / 2 / 3;
}
.actualites-container .actualites-grid .actualite_1 div:first-of-type p,
.actualites-container .actualites-grid .actualite_1 div:first-of-type h2 {
  color: #FFFFFF;
}
.actualites-container .actualites-grid .actualite_2 {
  flex-direction: column-reverse;
  grid-area: 2 / 1 / 4 / 2;
  background-color: #FFFFFF;
}
.actualites-container .actualites-grid .actualite_3 {
  flex-direction: column;
  background-color: #D9BFFF;
  grid-area: 2 / 2 / 4 / 3;
}
.actualites-container .actualites-grid .actualite_4 {
  grid-area: 1 / 3 / 3 / 5;
  flex-direction: column-reverse;
}
.actualites-container .actualites-grid .actualite_4 div:first-of-type p,
.actualites-container .actualites-grid .actualite_4 div:first-of-type h2 {
  color: #FCBC44;
}
.actualites-container .actualites-grid .actualite_4 + div {
  grid-area: 3 / 3 / 4 / 5;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.actualites-container .actualites-grid .actualite_4 + div h2 {
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: 600;
}
.actualites-container .actualites-grid .actualite_4 + div h2 span {
  color: #FCBC44;
  display: block;
  font-size: 4rem;
  font-weight: 300;
}
.actualites-container .actualites-grid .actualite_4 + div p,
.actualites-container .actualites-grid .actualite_4 + div i {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 25px;
}
.actualites-direct-container {
  background-color: #FCBC44;
  height: 500px;
  position: relative;
  z-index: 5;
}
.actualites-direct-container::before {
  content: '';
  background-color: inherit;
  transform: skewY(356deg);
  width: 100%;
  height: 160%;
  position: absolute;
  top: -66px;
  left: 0;
  z-index: -1;
}
.actualites-direct-container h2 {
  text-align: center;
  font-weight: 300;
}
.contact-form,
.contact-form-bis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 430px;
  padding: 0;
}
.contact-form h2,
.contact-form-bis h2 {
  font-size: 4rem;
  font-weight: 300;
}
.contact-form form p,
.contact-form-bis form p {
  display: flex;
  gap: 8px;
}
.contact-form form p input[type="submit"],
.contact-form-bis form p input[type="submit"] {
  height: 50px;
}
.contact-form form label,
.contact-form-bis form label {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-form form label span,
.contact-form-bis form label span {
  color: #651F59;
  max-width: 600px;
}
.contact-form {
  position: relative;
  margin-bottom: 150px;
  z-index: 5;
}
.contact-form::before {
  content: '';
  background-color: #FF6971;
  transform: skewY(356deg);
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  z-index: -1;
}
.contact-form h2 {
  color: #FFFFFF;
}
.contact-form form label span {
  color: #FFFFFF;
}
.contact-form-bis h2 {
  color: #C372FF;
}
.contact-form-bis form input {
  border-color: #C372FF;
}
.contact-form-bis form input::placeholder {
  color: #C372FF;
}
.contact-form-bis form input[type="checkbox"] {
  border-color: #651F59;
}
.contact-form-bis form label span {
  color: #651F59;
}
.pages-container {
  margin-bottom: 75px;
}
.pages-container .a-propos {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pages-container .a-propos img {
  width: 100%;
  object-fit: cover;
}
.pages-container .nous-trouver {
  width: 40%;
}
.pages-container h2 {
  font-size: 4rem;
  font-weight: 300;
}
header {
  z-index: 8;
  position: relative;
  display: flex;
  justify-content: space-between;
}
header svg {
  z-index: 6;
  position: relative;
  top: 35px;
}
header .header-contact {
  z-index: 6;
  position: absolute;
  background-color: #FFFFFF;
  width: 250px;
  height: 65px;
  top: 0;
  left: 270px;
  padding-left: 15px;
}
header .header-contact::after {
  content: '';
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: -20px;
  left: 0;
  transform: skewY(356deg);
  background-color: #FFFFFF;
  z-index: -1;
}
header .header-contact p {
  font-weight: 500;
  font-size: 25px;
}
header .header-contact p:first-of-type {
  margin-bottom: 0;
}
header .header-contact p:last-of-type {
  letter-spacing: 1px;
}
header .header-contact p i {
  padding-right: 15px;
}
header .open-navigation {
  font-size: 25px;
  cursor: pointer;
  position: relative;
  top: 50px;
  right: 50px;
}
footer {
  background-color: #651F59;
  display: flex;
  justify-content: space-around;
  padding: 40px 0 20px 0;
}
footer .menu-pages-footer {
  line-height: 35px;
}
footer .menu-pages-footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}
footer .menu-rs p {
  color: #D9BFFF;
  text-transform: uppercase;
}
footer .menu-rs .menu-rs-svg {
  display: flex;
  gap: 25px;
}
footer .menu-partenaires {
  display: flex;
  flex-direction: column;
}
footer .menu-partenaires p {
  color: #D9BFFF;
  text-transform: uppercase;
}
footer .menu-partenaires .menu-partenaires-svg {
  display: flex;
  align-items: end;
  gap: 25px;
}
.sliders {
  padding: 0;
  z-index: 6;
  position: relative;
}
.sliders #slider-instruments::before {
  height: 658px;
}
.sliders #slider-instruments figure {
  position: relative;
  top: -133px;
  overflow: hidden;
  height: 525px;
}
.sliders #slider-instruments figure img {
  width: 100%;
  height: 470px;
}
.sliders #slider-image {
  height: 550px;
}
.sliders #slider-image::before {
  height: 264px;
}
.sliders #slider-image .image-slider {
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
  position: relative;
  top: -62px;
  z-index: -2;
}
.sliders #slider-image .image-slider img {
  width: 100%;
  object-fit: cover;
  height: 500px;
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
}
.sliders #slider-image .image-slider::after {
  content: '';
  background: linear-gradient(17deg, rgba(252, 188, 68, 0.8) 0%, rgba(137, 232, 255, 0.8) 100%);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}
.sliders #slider-image .slider-elements-container div {
  margin-top: -616px;
  margin-bottom: 350px;
  position: relative;
  left: 0;
}
.sliders #slider-image .slider-elements-container div h1 span {
  font-weight: 300;
}
.sliders .slider {
  position: relative;
  z-index: 5;
}
.sliders .slider .subtitles {
  background-color: green;
}
.sliders .slider::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 450px;
  background: linear-gradient(17deg, #ffba00 0%, #53fddc 50%);
  top: -260px;
  z-index: -1;
  transform: skewY(356deg);
}
.sliders .slider .slider-elements-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.sliders .slider .slider-elements-container div {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: -95px;
  padding-left: 171px;
}
.sliders .slider .slider-elements-container div h1 {
  font-size: 100px;
  transform: skewY(356deg);
  letter-spacing: -2px;
  line-height: 100px;
  font-weight: 300;
  text-transform: uppercase;
}
.sliders .slider .slider-elements-container div h1 span {
  display: block;
  font-weight: initial;
  font-weight: 500;
}
.sliders .slider .slider-elements-container figure {
  position: relative;
  top: -95px;
  overflow: hidden;
  height: 324px;
}
.sliders .slider .slider-elements-container figure img {
  width: 380px;
}
#navigation-container {
  display: none;
}
#navigation-container.active {
  background-color: #651F59;
  padding: 25px 0;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#navigation-container.active a {
  text-decoration: none;
}
#navigation-container.active .navigation-menu {
  display: flex;
  text-transform: uppercase;
  padding: 30px 100px;
}
#navigation-container.active .navigation-menu * {
  color: #FFFFFF;
}
#navigation-container.active .navigation-menu .encadre-menu {
  margin-bottom: 50px;
}
#navigation-container.active .navigation-menu dl {
  padding-left: 0;
}
#navigation-container.active .navigation-menu dt {
  font-weight: 500;
}
#navigation-container.active .navigation-menu .close-navigation {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
}
#navigation-container.active .navigation-menu .navigation-logo {
  width: 25%;
}
#navigation-container.active .navigation-menu .navigation-logo h2 {
  font-weight: 300;
  width: 40%;
  margin-left: 70px;
  font-size: 30px;
}
#navigation-container.active .navigation-menu .navigation-menu-links {
  display: flex;
  width: 75%;
}
#navigation-container.active .navigation-menu .navigation-menu-links > div {
  width: 100%;
}
#navigation-container.active .navigation-menu .navigation-menu-links .navigation-element-extrait {
  text-transform: initial;
  font-weight: 100;
  position: relative;
  top: -5px;
}
#navigation-container.active .navigation-menu .navigation-menu-links .navigation-enseignements_2 {
  line-height: 20px;
  font-weight: 100;
}
#navigation-container.active .navigation-menu .navigation-menu-links .navigation-enseignements_2 .menu-enseignement_2 {
  margin-top: calc(24px + 20px + 10px + 50px);
  line-height: normal;
}
#navigation-container.active .navigation-menu .navigation-menu-links .navigation-enseignements_2 dt:not(:first-of-type) {
  text-transform: initial;
  font-weight: 100;
}
#navigation-container.active .navigation-menu .navigation-menu-links .navigation-ecole {
  display: flex;
  flex-direction: column;
}
#navigation-container.active .navigation-menu .navigation-menu-links .navigation-ecole .menu-ecole {
  line-height: 28px;
}
#navigation-container.active .navigation-menu .navigation-menu-links .navigation-ecole .menu-ecole ~ span > .encadre-menu {
  margin-bottom: 25px;
}
#navigation-container.active .navigation-contact {
  display: flex;
  justify-content: center;
  gap: 70px;
}
#navigation-container.active .navigation-contact a {
  display: flex;
  transform: skewY(356deg);
  gap: 10px;
}
#navigation-container.active .navigation-contact .navigation-contact-icon {
  background-color: #C372FF;
  width: 50px;
  height: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navigation-container.active .navigation-rs {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#navigation-container.active .navigation-rs p {
  color: #D9BFFF;
  text-transform: uppercase;
}
#navigation-container.active .navigation-rs .menu-rs-svg {
  display: flex;
  gap: 25px;
}
.slider-subtitles {
  transform: skewY(356deg);
  text-transform: uppercase;
  font-size: 35px;
  position: relative;
  top: -60px;
}
.post {
  position: relative;
  top: -235px;
  z-index: 6;
}
.instruments,
.ateliers {
  width: 80%;
  margin-left: 20%;
  background-color: #FFFFFF;
  padding: 35px 250px 35px 35px;
}
.instruments h2,
.ateliers h2,
.instruments h3,
.ateliers h3 {
  font-weight: 300;
}
.instruments h2 + p,
.ateliers h2 + p {
  color: #CB5C2F;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 35px;
}
.instruments p + div,
.ateliers p + div {
  display: flex;
  gap: 90px;
  padding-top: 70px;
}
.instruments p + div div h3,
.ateliers p + div div h3 {
  text-transform: uppercase;
}
.instruments p + div div p,
.ateliers p + div div p {
  font-weight: 100;
}
.infos {
  padding: 50px 20%;
  background-color: #FCBC44;
}
.infos .professeurs {
  display: flex;
}
.infos .professeurs .professeur {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}
.infos .professeurs .professeur p {
  font-weight: 600;
  text-transform: uppercase;
}
.infos .professeurs .professeur p:first-of-type {
  margin-bottom: 0px;
  margin-top: 28px;
  font-size: 20px;
}
.infos .professeurs .professeur p:not(:first-of-type) {
  color: #FFFFFF;
}
.infos .professeurs .professeur img {
  clip-path: circle(50%);
}
.infos .professeurs h2 {
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 40px;
}
.infos .jours-cours {
  display: flex;
  gap: 45px;
}
.infos .jours-cours > div {
  background-color: #ffffff80;
  padding: 4px 15px 8px 15px;
  font-weight: 500;
  height: 33px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infos .jours-cours > div.present {
  background-color: #FFFFFF;
}
.infos .jours-cours > div.present .horaires {
  background-color: #651F59;
  color: #FFFFFF;
  display: block;
  margin: -15px;
  margin-top: 0;
  text-align: center;
  width: 100px;
}
.infos .present::before {
  content: 'v';
  display: contents;
}
.nous-trouver span p {
  background-color: #C372FF;
  color: #FFFFFF;
  padding: 26px 0;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}
.nous-trouver span::after {
  content: '';
  background-color: #C372FF;
  display: block;
  height: 80px;
  width: 80px;
  margin: -1px auto;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
}
.nous-trouver iframe {
  width: 100%;
  margin-top: -78px;
  margin-bottom: -240px;
}
@media screen and (max-width: 1200px) {
  .slider .open-navigation {
    background-color: #FFFFFF;
    width: 45px;
    display: flex;
    border-radius: 50%;
    height: 45px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .slider .open-navigation .open-navigation-text {
    display: none;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  header svg {
    position: static;
    width: 45%;
  }
  header div {
    display: none;
  }
  .sliders .slider::before {
    height: 650px;
  }
  .sliders .slider .slider-elements-container {
    justify-content: start;
  }
  .sliders .slider .slider-elements-container figure {
    position: absolute;
    height: 300px;
    z-index: -1;
    top: 46px;
    right: 0;
    overflow: unset;
  }
  .sliders .slider .slider-elements-container figure img {
    width: 285px;
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  }
  .sliders .slider .slider-elements-container div {
    margin-top: 0;
    padding-left: 0;
    top: 198px;
    position: relative;
  }
  .sliders .slider .slider-elements-container div h2 {
    font-size: 3.5rem;
    line-height: 50px;
  }
  main {
    padding: auto 5vw;
  }
  .ateliers-container {
    height: 1680px;
    margin-top: 220px;
  }
  .ateliers-container::before {
    height: 1880px;
  }
  .ateliers-container .row {
    gap: 65px;
  }
  .ateliers-container .row .atelier:nth-child(even) {
    flex-direction: column-reverse;
  }
  .ateliers-container .row .atelier .atelier-img img {
    height: 250px;
  }
  .instruments-container {
    margin-right: 15px;
  }
  .instruments-container .instrument figure img {
    width: 100%;
    max-width: none;
  }
  .instruments-container .instrument .intrument-infos .primary-button {
    padding: 10px 15px;
  }
  .actualites-container {
    padding: 0;
    margin: 150px 0 800px 0;
  }
  .actualites-container::before {
    height: 200%;
  }
  .actualites-container .actualites-grid {
    grid-template-columns: repeat(2, 43vw);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    height: 800px;
  }
  .actualites-container .actualites-grid .actualite {
    max-width: 100%;
  }
  .actualites-container .actualites-grid .actualite .actualite-infos {
    width: 100%;
  }
  .actualites-container .actualites-grid .actualite .actualite-infos .actualite-date {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .actualites-container .actualites-grid .actualite .actualite-infos p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .actualites-container .actualites-grid .actualite_1 {
    grid-area: 3 / 1 / 4 / 3;
  }
  .actualites-container .actualites-grid .actualite_2 {
    grid-area: 4 / 1 / 6 / 2;
  }
  .actualites-container .actualites-grid .actualite_3 {
    grid-area: 4 / 2 / 6 / 3;
  }
  .actualites-container .actualites-grid .actualite_4 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .actualites-container .actualites-grid .actualite_4 + div {
    grid-area: 1 / 1 / 2 / 3;
  }
  .actualites-container .actualites-grid .actualite_4 img {
    height: 200px !important;
  }
  .actualites-container .actualites-grid h2 span {
    font-size: 3rem !important;
  }
  .contact-form,
  .contact-form-bis {
    height: 500px;
    margin-bottom: 40px;
  }
  .contact-form h2,
  .contact-form-bis h2 {
    font-size: 2rem;
  }
  .contact-form form p,
  .contact-form-bis form p {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
  }
  .contact-form form p:not(:first-of-type),
  .contact-form-bis form p:not(:first-of-type) {
    margin: 0 16px;
  }
  .pages-container .row {
    flex-direction: column;
    gap: 90px;
  }
  .pages-container .row section {
    width: 100%;
  }
  .navigation-container {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .menu-rs p {
    text-align: center;
  }
  footer .menu-partenaires {
    align-items: center;
  }
  footer .menu-partenaires .menu-partenaires-svg {
    flex-wrap: wrap;
    justify-content: center;
  }
}
