// out: "app.css", compress: false, sourceMap: false

// Couleurs
@white:       #FFFFFF;
@grey:        #F0EDF5;
@black:       #000000;

@cyan:        #53FDDC;
@orange:      #CB5C2F;
@yellow:      #FCCA44;
@dark_yellow: #FCBC44;
@light_purple:#D9BFFF;
@purple:      #B28FAC;
@purple_bis:  #C372FF;
@dark_purple: #651F59;
@pink:        #FF6971;

@bois:        #FF9E6E;
@cuivres:     #E2B4FF;
@chant:       #FFA800;
@claviers:    #F696BC;
@cordes:      #89E8FF;
@percussions: #96FDEF;

// Variables 
@main-title-size: 100px;
@components-height: 50px;
@instrument-gap: 45px;
@title-weight: 300;

// Fonctions
.clip-path-haut() { clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%); }
.clip-path-bas() { clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%); }

.degrade-jaune-bleu(@alpha) { background: linear-gradient(17deg, rgba(252,188,68,@alpha) 0%, rgba(137,232,255,@alpha) 100%); }
.degrade-violet-rose(@alpha) { background: linear-gradient(17deg, rgba(255,105,113,@alpha) 0%, rgba(195,114,255,@alpha) 100%); }
.degrade-slider-1(@alpha) { background: linear-gradient(17deg, rgba(255,105,113,@alpha) 0%, rgba(252,188,68,@alpha) 50%); }
.degrade-slider-2(@alpha) { background: linear-gradient(17deg, rgba(252,188,68,@alpha) 0%, rgba(195,114,255,@alpha) 50%); }
.degrade-slider-3(@alpha) { background: linear-gradient(17deg, rgba(255,186,0,@alpha) 0%, rgba(83,253,220,@alpha) 50%); }

.skew() { transform: skewY(356deg); }
.rotate() { transform: rotate(356deg); }

// Typographie
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


// Fichiers Less
@import url("global.less");
@import url("components.less");
@import url("logo.less");

@import url("sections/ateliers.less");
@import url("sections/instruments.less");
@import url("sections/actualites.less");
@import url("sections/actualites-direct.less");
@import url("sections/contact.less");
@import url("sections/pages.less"); 
@import url("sections/header.less");
@import url("sections/footer.less");
@import url("sections/slider.less");
@import url("sections/navigation.less");
@import url("sections/single_ateliers-instruments.less");

// Medias Queries 
@import url("media-queries/1200px.less");
@import url("media-queries/768px.less");

