@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs169vgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvgUE.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  box-shadow: none;
  color: #651F59;
  border: none;
  font-family: 'Oswald', 'Sans-serif';
}
html,
body {
  background-color: #FFFFFF;
}
h2 {
  text-transform: uppercase;
}
.primary-button,
.secondary-button {
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  max-width: fit-content;
}
.primary-button {
  background-color: #651F59;
  color: #FFFFFF;
  transition: 0.3s;
}
.primary-button:hover {
  color: #D9BFFF;
}
.secondary-button {
  background-color: #FFFFFF;
  color: #FCBC44;
  border: 2px solid #FCBC44;
  transition: 0.3s;
}
.secondary-button:hover {
  color: #CB5C2F;
  border-color: #CB5C2F;
}
input[type=text],
input[type="email"] {
  border: 3px solid #FFFFFF;
  background-color: transparent;
  height: 50px;
  padding: 15px;
}
input[type=text]::placeholder,
input[type="email"]::placeholder {
  color: #FFFFFF;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 5px;
  height: 5px;
  border: 3px solid #FFFFFF;
}
.checkbox:not(:checked) + span::after,
[type="checkbox"]:checked + span::after {
  content: '✕';
  position: absolute;
  left: 573px;
  bottom: 141px;
  font-size: 1.6em;
  color: #FFFFFF;
  line-height: 0;
  transition: all 0.2s;
}
.checkbox:not(:checked) + span::after {
  opacity: 0;
  transform: scale(0) rotate(45deg);
}
.checkbox:checked + span::after {
  opacity: 1;
  transform: scale(1) rotate(0);
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 5px;
  height: 5px;
  border: 3px solid #FFFFFF;
}
.checkbox:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
  content: '✕';
  position: absolute;
  top: 0.38em;
  left: 0.18em;
  font-size: 1.6em;
  color: #CB22ED;
  line-height: 0;
  transition: all 0.2s;
}
.ateliers-container {
  height: 400px;
  position: relative;
  z-index: 5;
  margin-bottom: 190px;
}
.ateliers-container .atelier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  gap: 15px;
}
.ateliers-container .atelier .atelier-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ateliers-container .atelier .atelier-infos h2 {
  font-weight: 100;
}
.ateliers-container .atelier:nth-child(odd) {
  flex-direction: column-reverse;
}
.ateliers-container .atelier:nth-child(odd) .atelier-image {
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
}
.ateliers-container .atelier:nth-child(odd) .atelier-image img {
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
  position: relative;
}
.ateliers-container .atelier:nth-child(odd) .atelier-image::after {
  background: linear-gradient(17deg, rgba(252, 188, 68, 0.5) 0%, rgba(137, 232, 255, 0.5) 100%);
}
.ateliers-container .atelier:nth-child(even) .atelier-image {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}
.ateliers-container .atelier:nth-child(even) .atelier-image img {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}
.ateliers-container .atelier:nth-child(even) .atelier-image::after {
  background: linear-gradient(17deg, rgba(255, 105, 113, 0.5) 0%, rgba(195, 114, 255, 0.5) 100%);
}
.ateliers-container .atelier .atelier-image {
  position: relative;
  width: 100%;
}
.ateliers-container .atelier .atelier-image img {
  width: 100%;
  object-fit: cover;
  text-align: center;
}
.ateliers-container .atelier .atelier-image::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.ateliers-container .atelier .primary-button {
  margin: 0 auto;
}
.ateliers-container::before {
  content: '';
  background-color: #F0EDF5;
  transform: skewY(356deg);
  width: 100%;
  height: 560px;
  position: absolute;
  top: -80px;
  left: 0;
}
.instruments-container h2,
.instruments-container p {
  text-align: center;
  font-weight: 100;
}
.instruments-container .instrument {
  text-align: left;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
.instruments-container .instrument .intrument-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 45px;
}
.instruments-container .instrument .intrument-infos span {
  display: block;
  font-weight: bold;
}
.instruments-container .instrument h2 {
  padding-top: 15px;
  text-align: left;
}
.instruments-container .instrument p {
  text-align: left;
  text-transform: uppercase;
  height: 50px;
}
.instruments-container .instrument img {
  max-width: 9vw;
  max-height: 220px;
  height: auto;
  object-fit: contain;
}
.instruments-container .instrument::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 75%;
  height: 150px;
  background-color: green;
  z-index: -1;
  margin-top: 45px;
}
.instruments-container .instrument::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 150px;
  background-color: aqua;
  transform: skewY(356deg);
  top: 95px;
  right: 0;
  z-index: -1;
}
.instruments-container .instrument_4 img,
.instruments-container .instrument_6 img {
  position: relative;
  top: 60px;
}
.instruments-container .instrument_1::before,
.instruments-container .instrument_1::after {
  background-color: #FF9E6E;
}
.instruments-container .instrument_2::before,
.instruments-container .instrument_2::after {
  background-color: #E2B4FF;
}
.instruments-container .instrument_3::before,
.instruments-container .instrument_3::after {
  background-color: #FFA800;
}
.instruments-container .instrument_4::before,
.instruments-container .instrument_4::after {
  background-color: #F696BC;
}
.instruments-container .instrument_5::before,
.instruments-container .instrument_5::after {
  background-color: #89E8FF;
}
.instruments-container .instrument_6::before,
.instruments-container .instrument_6::after {
  background-color: #96FDEF;
}
.actualites-container {
  background-color: #651F59;
  position: relative;
  z-index: 5;
  padding: 0 250px;
  margin: 150px 0 100px 0;
}
.actualites-container::before {
  content: '';
  background-color: inherit;
  transform: skewY(356deg);
  width: 100%;
  height: 125%;
  position: absolute;
  top: -66px;
  left: 0;
  z-index: -1;
}
.actualites-container .actualites-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: 800px;
}
.actualites-container .actualites-grid .actualite {
  display: flex;
}
.actualites-container .actualites-grid .actualite .actualite-infos {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.actualites-container .actualites-grid .actualite .actualite-infos .actualite-date {
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
}
.actualites-container .actualites-grid .actualite .actualite-infos h2 {
  font-size: 25px;
  font-weight: 600;
}
.actualites-container .actualites-grid .actualite .actualite-infos p:not(:first-of-type) {
  overflow: hidden;
}
.actualites-container .actualites-grid .actualite .actualite-img {
  overflow: hidden;
}
.actualites-container .actualites-grid .actualite .actualite-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.actualites-container .actualites-grid .actualite figure {
  margin-bottom: 0;
  width: 100%;
}
.actualites-container .actualites-grid .actualite_1 {
  flex-direction: row-reverse;
  border: 3px solid #FFFFFF;
  grid-area: 1 / 1 / 2 / 3;
}
.actualites-container .actualites-grid .actualite_1 div:first-of-type p,
.actualites-container .actualites-grid .actualite_1 div:first-of-type h2 {
  color: #FFFFFF;
}
.actualites-container .actualites-grid .actualite_2 {
  flex-direction: column-reverse;
  grid-area: 2 / 1 / 4 / 2;
  background-color: #FFFFFF;
}
.actualites-container .actualites-grid .actualite_3 {
  flex-direction: column;
  background-color: #D9BFFF;
  grid-area: 2 / 2 / 4 / 3;
}
.actualites-container .actualites-grid .actualite_4 {
  grid-area: 1 / 3 / 3 / 5;
  flex-direction: column-reverse;
}
.actualites-container .actualites-grid .actualite_4 div:first-of-type p,
.actualites-container .actualites-grid .actualite_4 div:first-of-type h2 {
  color: #FCBC44;
}
.actualites-container .actualites-grid .actualite_4 + h2 {
  color: #FFFFFF;
  grid-area: 3 / 3 / 4 / 5;
  font-size: 2.5rem;
  font-weight: 600;
}
.actualites-container .actualites-grid .actualite_4 + h2 span {
  color: #FCBC44;
  display: block;
  font-size: 4rem;
  font-weight: 100;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 430px;
  z-index: 5;
  padding: 0;
  margin-bottom: 150px;
}
.contact-form::before {
  content: '';
  background-color: #FF6971;
  transform: skewY(356deg);
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  z-index: -1;
}
.contact-form h2 {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 100;
}
.contact-form form p {
  display: flex;
  gap: 8px;
}
.contact-form form p input[type="submit"] {
  height: 50px;
}
.contact-form form label {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-form form label span {
  color: #FFFFFF;
  max-width: 600px;
}
.pages-container .a-propos {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pages-container .a-propos img {
  width: 100%;
  object-fit: cover;
}
.pages-container .nous-trouver {
  width: 40%;
}
.pages-container h2 {
  font-size: 4rem;
  font-weight: 100;
}
header svg {
  z-index: 6;
  position: relative;
  top: 35px;
}
header div {
  z-index: 6;
  position: absolute;
  background-color: #FFFFFF;
  width: 250px;
  height: 65px;
  top: 0;
  left: 270px;
  padding-left: 15px;
}
header div::after {
  content: '';
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: -20px;
  left: 0;
  transform: skewY(356deg);
  background-color: #FFFFFF;
  z-index: -1;
}
header div p {
  font-weight: bold;
  font-size: 25px;
}
header div p:first-of-type {
  margin-bottom: 0;
}
header div p i {
  padding-right: 15px;
}
.sliders {
  padding: 0;
}
.sliders .slider {
  margin-bottom: 250px;
  position: relative;
  z-index: 5;
}
.sliders .slider::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 450px;
  background: linear-gradient(17deg, #ffba00 0%, #53fddc 50%);
  top: -260px;
  z-index: -1;
  transform: skewY(356deg);
}
.sliders .slider .slider-elements-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.sliders .slider .slider-elements-container div {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: -95px;
}
.sliders .slider .slider-elements-container div h2 {
  font-size: 100px;
  transform: skewY(356deg);
  font-weight: 100;
  letter-spacing: -2px;
  line-height: 100px;
}
.sliders .slider .slider-elements-container div h2 span {
  display: block;
  font-weight: initial;
}
.sliders .slider .slider-elements-container img {
  margin-top: -95px;
  width: 265px;
}
