// out: "app.css", compress: false, sourceMap: false

// Couleurs
@white:       #FFFFFF;
@grey:        #F0EDF5;
@black:       #000000;

@cyan:        #53FDDC;
@light_violet:#D9BFFF;
@orange:      #CB5C2F;
@yellow:      #FCCA44;
@dark_yellow: #FCBC44;
@purple:      #651F59;
@pink:        #FF6971;

@bois:        #FF9E6E;
@cuivres:     #E2B4FF;
@chant:       #FFA800;
@claviers:    #F696BC;
@cordes:      #89E8FF;
@percussions: #96FDEF;

// Variables 
@components-height: 50px;


// Typographie
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');


// Fichiers Less
@import url("global.less");
@import url("components.less");

@import url("sections/ateliers.less");
@import url("sections/instruments.less");
@import url("sections/dates.less");
@import url("sections/contact.less");









