// out: "app.css", compress: true, sourceMap: false

// Couleurs
@white: #FFFFFF;
@grey: #F0EDF5;
@black: #000000;

@cyan: #53FDDC;
@light_violet: #D9BFFF;
@orange: #CB5C2F;
@yellow: #FCCA44;
@dark_yellow: #FCBC44;
@purple: #651F59;



@import url("global.less");
@import url("ateliers.less");
@import url("instruments.less");
@import url("components.less");
