// out: false

.primary-button, .secondary-button {
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    max-width: fit-content;
}

.primary-button {
    background-color: @purple;
    color: @white;

    &:hover {
        color: blue;
    }
}

.secondary-button {
    background-color: @white;
    color: @dark_yellow;

    &:hover {
        color: green;
    }
}


input[type=text], input[type="email"] {
    border: 3px solid @white;
    background-color: transparent;
    height: @components-height;
    padding: 15px;

    &::placeholder {
        color: @white;
    }
}



.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance : none;

    background-color: transparent;
    padding: 5px;
    height: 5px;
    border: 3px solid @white;
}

.checkbox:not(:checked) + span::after,[type="checkbox"]:checked + span::after {	
    content: '✕';	
    position: absolute;
    left: 573px;
    bottom: 141px;
    font-size: 1.6em;	
    color: @white;	
    line-height: 0;	
    transition: all .2s;
}

.checkbox:not(:checked) + span::after {
    opacity: 0;	
    transform: scale(0) rotate(45deg);
}

.checkbox:checked + span::after {	
    opacity: 1;	
    transform: scale(1) rotate(0);
}




















.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance : none;

    background-color: transparent;
    padding: 5px;
    height: 5px;
    border: 3px solid @white;
}

.checkbox:not(:checked) + label::after,[type="checkbox"]:checked + label::after {	
    content: '✕';	
    position: absolute;	
    top: .38em;	
    left: .18em;	
    font-size: 1.6em;	
    color: #CB22ED;	
    line-height: 0;	
    transition: all .2s;
}