// out: false

* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    box-shadow: none;
    color: @dark_purple;
    border: none;
    font-family: 'Oswald', 'Sans-serif';
}

html, body {
    background-color: @white;
}

h2 {
    text-transform: uppercase;
}